<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create new task</title>
</head>
<body>
<div align="center">
    <h3>Create new task</h3>
    <form action="#" th:action="@{/admin/create}" th:object="${task}" method="post">
        <p> Title: <br><input type="text" th:field="*{title}" maxlength="50" size="24"/></p>
        <p> Information: <br>
            <textarea th:field="*{information}" rows="4" cols="25"></textarea>
        <p> Status: <input type="checkbox" th:checked="false" th:field="*{status}"/></p>
        <p th:if="${error}" class="error">Wrong input data. Try again!</p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
